$color_1: #fff;
$color_2: #013e93;
$color_3: #000;
$color_4: #013e93;
$color_5: #f07d00;
$font-family_1: "Montserrat", sans-serif;
$background-color_5: #F2F2F2;
$background-color_6: #f4f4f4;

body {
  margin-top: 0;
}

#es-rc {
  #es-rc-content {
    font-family: $font-family_1;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

    * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    p {
      margin: 0;
    }

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .es-bold {
      font-weight: 900;
    }

    .es-uppercase {
      text-transform: uppercase;
    }

    .es-logos {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      justify-content: center;
      margin-bottom: 15px;

      img {
        max-height: 40px;
      }
    }

    .es-logos__2 {
      img {
        max-height: 55px;
        padding: 0 35px 0 45px;
      }
    }

    .es-logos__3 {
      margin-top: 10px;
    }

    .es-kv__container {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $color_3;
    }

    .es-kv__text--left {
      width: 85%;
      position: absolute;
      top: 25%;
      left: 0;
      transform: translate(10%, -50%);

      font-size: 25px;
      text-transform: uppercase;
      color: $color_1;
    }

    .es-kv__text--right {
      width: 85%;
      position: absolute;
      bottom: 25%;
      left: 0;
      transform: translate(10%, 50%);

      font-size: 25px;
      text-transform: uppercase;
      color: $color_1;

      & p:first-of-type {
        padding: 8px 4px;
        margin-bottom: 12px;

        font-size: 20px;
        font-weight: bold;
        background-color: #7d73d0;
      }
    }

    .es-packshot {
      height: 100%;
      display: none;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      img {
        max-width: 13.167%;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .es-benefits {
      text-align: center;
    }

    .es-benefits__title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 900;
      margin-top: 35px;
      margin-bottom: 15px;
    }

    .es-benefits__text {
      font-size: 24px;
    }

    .es-benefits__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 30px;
    }

    .es-benefits__single {
      display: flex;
      margin: 15px 10px;
      align-items: center;
    }

    .es-benefits__single--icon {
      & > img {
        max-width: 35px;
        width: 35px;
        height: 30.88px;
      }
    }

    .es-benefits__single--text {
      text-transform: uppercase;
      text-align: left;
      margin-left: 10px;
      font-size: 15px;
    }

    .es-title-small {
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
    }

    .es-ingredience {
      margin: 30px 0;
      display: grid;
      grid-template-columns: 100%;

      .es-title-small {
        margin-bottom: 10px;
      }
    }

    .es-ingredience {
      .es-ingredience__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .es-ingredience__container-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
      }

      .es-ingredience__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .es-ingredience__hand {
        width: 100%;

        & > img {
          margin-right: 0;
        }
      }

      .es-ingredience__single {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;

        & > img {
          max-width: 41%;
        }
      }

      .es-ingredience__single--text {
        text-transform: uppercase;
        margin-left: 10px;
        margin-top: 5px;
      }

      .es-ingredience__single--text--title {
        font-weight: 900;
        font-size: 15px;
        margin-bottom: 10px;
      }

      .es-ingredience__single--text--desc {
        font-size: 14px;
      }

      .es-ingredience__single--img {
        img {
          max-width: 80px;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .es-research__container {
      display: flex;
      flex-wrap: wrap;
    }

    .es-research {
      width: 100%;
      padding: 107px 50px;
      margin-top: 60px;
    }

    .es-research--left {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      text-transform: uppercase;
    }

    .es-research--left--title {
      font-size: 24px;
      font-weight: bold;
    }

    .es-research--left--text {
      font-size: 18px;
    }

    .es-cross {
      display: none;
      margin-bottom: 60px;

      .es-title-small {
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }

    .es-cross__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 50px;
    }

    .es-cross__single {
      display: flex;
      flex-flow: column;
      margin: 15px auto;
      width: 190px;
      transition: transform 0.6s;

      &:hover {
        .es-cross__single--img {
          img {
            transform: translateY(-8px);
          }
        }

        .es-cross__single--link {
          color: $color_3;
          background-color: $color_1;
        }
      }

      &:nth-child(2) {
        .es-cross__single--img {
          img {
            max-height: 230px;
          }
        }
      }

      &:nth-child(4) {
        .es-cross__single--img {
          img {
            max-height: 230px;
          }
        }
      }

      &:nth-child(5) {
        .es-cross__single--img {
          img {
            max-height: 230px;
          }
        }
      }
    }

    .es-cross__single--img {
      img {
        max-height: 250px;
        transition: all 0.3s ease-in-out;
      }
    }

    .es-cross__single--text--wrapper {
      display: flex;
      align-items: flex-end;
      margin: 20px 0;
    }

    .es-cross__single--text {
      padding-left: 5px;
      font-size: 14px;
    }

    .es-blue-text {
      color: $color_2;
      text-transform: uppercase;
    }

    .es-cross__single--link {
      background-color: $color_3;
      color: $color_1;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      border: #000 1px solid;
      border-radius: 5px;
      padding: 10px 0;
      width: 95%;
      transition: all 0.3s ease-in-out;
    }

    .es-cross-mobile {
      display: block;
      margin: 30px 0;

      .es-cross-mobile__title {
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .swiper-wrapper {
        padding-bottom: 25px;
      }

      .swiper-button-prev,
      .swiper-button-next {
        top: 40%;
      }
    }

    .swiper--1 {
      width: 210px;
      height: 450px;

      .es-cross__single {
        width: 210px;
      }

      .es-cross__single--text--wrapper {
        align-items: center;
      }

      .swiper-pagination-bullet {
        opacity: 0.1;
      }

      .swiper-pagination-bullet-active {
        background: #013e93;
        opacity: 1;
      }
    }

    .swiper-button-prev.swiper-button-prev--1 {
      top: unset;
      bottom: -6px;
      left: 32px;

      &::after {
        font-size: 22px;
        font-weight: 900;
        color: $color_4;
      }
    }

    .swiper-button-next.swiper-button-next--1 {
      top: unset;
      bottom: -6px;
      right: 36px;

      &::after {
        font-size: 22px;
        font-weight: 900;
        color: $color_4;
      }
    }

    .es-products {
      display: none;
    }

    .es-products__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;

      & a:nth-child(1) img {
        height: 414px;
      }

      & a:nth-child(2) img {
        height: 373px;
      }

      & a:nth-child(3) img {
        height: 341px;
      }
    }

    .es-products__single {
      margin: auto;
      padding: 25px 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: relative;
      line-height: 1;

      .es-products__single--img > img {
        margin-bottom: 10px;
        max-height: 250px;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }

      .es-products__single--text {
        margin-top: 20px;
        padding: 25px;
        text-transform: uppercase;
        color: $color_1;
        background-color: $color_4;
        font-size: 24px;

        & > p > span:last-of-type {
          font-size: 12px;
        }
      }
    }

    .es-products-mobile {
      display: block;
      margin-bottom: 30px;

      .swiper {
        padding-bottom: 25px;
      }

      .swiper-wrapper {
        padding-bottom: 25px;
      }

      .swiper-button-prev,
      .swiper-button-next {
        top: 17%;
      }
    }

    .swiper--2 {
      width: 317px;
      height: 420px;
    }

    .swiper-button-next.swiper-button-next--2 {
      top: 10%;

      &::after {
        font-size: 22px;
        font-weight: 900;
        color: $color_1;
      }
    }

    .es-orange-text {
      color: $color_5;
    }

    .es-white-text {
      color: $color_1;
    }

    .es-small-text {
      font-size: 25px;
    }

    .es-table {
      display: none;
    }

    .es-table__title {
      font-weight: 900;
      font-size: 25px;
      color: $color_4;
      text-align: center;
      text-transform: uppercase;
      margin: 25px 0;
    }

    .es-table__container {
      display: flex;
      justify-content: space-between;
    }

    .es-table__single {
      text-align: center;
      background-color: $background-color_5;
      padding: 25px;
      width: 32.5%;

      p {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 1.4;
      }

      .es-bold {
        font-weight: 700;
      }
    }

    .swiper--3 {
      width: 290px;
      height: 640px;

      .swiper-pagination-bullet {
        opacity: 0.1;
      }

      .swiper-pagination-bullet-active {
        background: #013e93;
        opacity: 1;
      }
    }

    .es-table-mobile {
      .es-table__single {
        width: 100%;
      }

      #es-rc #es-rc-content & p {
        margin-bottom: 15px;
      }
    }

    .swiper-button-prev.swiper-button-prev--3 {
      top: unset;
      bottom: -6px;
      left: 82px;

      &::after {
        font-size: 22px;
        font-weight: 900;
        color: $color_4;
      }
    }

    .swiper-button-next.swiper-button-next--3 {
      top: unset;
      bottom: -6px;
      right: 86px;

      &::after {
        font-size: 22px;
        font-weight: 900;
        color: $color_4;
      }
    }

    .es-duo {
      width: 100%;
      padding: 50px;
    }

    .es-duo--left {
      color: $color_1;
      font-size: 18px;
      text-transform: uppercase;

      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }

    .es-duo--left--title {
      font-weight: bold;
      color: $color_5;
    }

    .es-duo__percent {
      font-size: 55px;
    }

    .es-duo__packshot {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;

      img {
        max-height: 240px;
        transition: all 0.3s ease-in-out;
      }
    }

    .es-duo__packshot1 {
      right: 141px;
      z-index: 1;
    }

    .es-top {
      margin-top: 45px;

      .es-top--container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 45px;

        .es-top__single {
          .es-top__single-img {
            position: relative;
          }

          .es-top__single-text {
            font-size: 23px;
            position: absolute;
            bottom: 5%;
            left: 5%;
            text-transform: uppercase;
            color: $color_1;

            .es-bold {
              font-weight: 700;
            }
          }
        }
      }
    }

    .es-qa {
      margin-top: 60px;

      .es-accordion {
        max-width: 100%;
      }

      .es-accordion__element {
        margin: 0 auto;
        margin-bottom: 20px;
        border: none;
      }

      .es-accordion__element-content {
        font-size: 14px;
        line-height: 1.4;
        background-color: $background-color_6;
        color: $color_3;
        overflow: hidden;
        margin-top: -10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        max-height: 0;
        transition: max-height 0.5s ease-out;
      }

      .es-accordion__title {
        display: block;
        width: 100%;
        padding: 17px 50px 17px 15px;
        font-size: 16px;
        color: $color_1;
        transition: all 200ms ease-out;
        cursor: pointer;
        background-color: #013e93;
        z-index: 1;
        position: relative;
      }
    }

    .es-accordion__arrow {
      width: 22px;
      position: absolute;
      right: 15px;
      top: 40%;
      margin: auto 0;
      transition: all 0.3s ease-out;
    }

    .active {
      .es-accordion__arrow {
        transform: rotate(180deg);
      }
    }

    .es-accordion__checkbox {
      display: none;
    }

    .es-accordion__checkbox:checked + label + .acc-content {
      max-height: 500px;
    }

    .es-qa__small-text {
      font-size: 12px;
      display: block;
      margin-top: 25px;
    }

    .es-footer {
      font-size: 13px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .es-crosss__single--text--border {
      width: 18px;
      height: 51px;
      background-color: $color_2;
    }
  }
}

/* === Small Screens === */
@media (min-width: 576px) {
  #es-rc {
    #es-rc-content {
      .es-ingredience {
        grid-template-columns: 70% 30%;
      }

      .es-research--left {
        width: 50%;
        margin: unset;
        padding: unset;
      }
    }
  }
}

/* === Responsive Header === */
@media (min-width: 600px) {
  #es-rc {
    #es-rc-content {
      .es-kv__container {
        flex-direction: row;

        .es-kv__text--left {
          width: 40%;
          top: 50%;
          transform: translate(10%, -50%);
        }

        .es-kv__text--right {
          width: 40%;
          bottom: 50%;
          left: unset;
          right: 0;
          transform: translate(-2%, 50%);
        }
      }
    }
  }
}

/* === Medium Screens === */
@media (min-width: 768px) {
  #es-rc {
    #es-rc-content {
      .es-kv {
        .es-kv__text--left {
          font-size: 40px;
          transform: translate(10%, -50%);
        }

        .es-kv__text--right {
          font-size: 45px;
          transform: translate(10%, 50%);

          & p:first-of-type {
            font-size: 20px;
          }
        }

        .es-packshot {
          display: flex;
        }
      }

      .es-benefits {
        .es-benefits__title {
          font-size: 40px;
        }

        .es-benefits__text {
          font-size: 30px;
        }

        .es-benefits__list {
          flex-direction: row;
          justify-content: space-around;

          .es-benefits__single {
            max-width: 27%;
          }
        }
      }

      .es-ingredience {
        .es-ingredience__container-title {
          font-size: 35px;
        }

        .es-ingredience__list {
          flex-direction: row;
        }
      }

      .es-duo {
        margin-top: 40px;

        .es-duo--left {
          width: 50%;
          font-size: 35px;
          margin: unset;
          padding: unset;
        }

        .es-duo--right {
          width: 50%;
          margin: unset;
        }
      }

      .es-research {
        .es-research--left--title {
          font-size: 35px;
        }

        .es-research--left--text {
          font-size: 25px;
        }
      }

      .es-top {
        display: flex;
        align-items: center;

        .es-top--container {
          margin-top: unset;
          margin-left: 15px;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: nowrap;

          .es-top__single {
            .es-top__single-text {
              transform: translateX(-3%);
            }
          }
        }
      }

      .es-cross-mobile {
        display: none;
      }

      .es-cross {
        display: block;
      }
    }
  }
}

/* === Swiper toggle === */
@media (min-width: 1181px) {
  #es-rc {
    #es-rc-content {
      .es-products__single {
        width: 370px;
        height: 480px;

        justify-content: flex-end;
        align-items: flex-start;

        background-color: $color_4;

        .es-products__single--img {
          margin-left: 20px;

          img {
            max-height: unset;
          }
        }

        .es-products__single--text {
          margin: unset;
          padding: unset;

          font-size: 50px;
          width: 440px;
          transform: rotate(-90deg) translateX(140px);
          position: absolute;
          right: -33%;
          bottom: 30px;
          background-color: unset;

          & > p > span:last-of-type {
            font-size: 25px;
          }
        }
      }

      .es-products-mobile {
        display: none;
      }

      .es-products {
        display: block;
      }

      .es-table {
        display: block;
      }

      .es-table-mobile {
        display: none;
      }
    }
  }
}